.restaurant-models {
    max-width: 1200px;
    margin-top: 105px;
}

.model-card {
    border-radius: 12px;
    flex: 1;
    height: 134px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0,0,0,.04),0 0 2px rgba(0,0,0,.06),0 0 1px rgba(0,0,0,.04);
}

.model-card h4 {
    font-family: Inter, sans-serif;
}

.model-card > h4:nth-of-type(1) {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 600;
}

.model-card > h4:nth-of-type(2) {
    color: #333332;
}
