.testimonials-section {
    max-width: 1200px;
    margin: 180px auto auto;
}

.testimonial-card {
    max-width: 1200px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,.04), 0 2px 6px rgba(0,0,0,.04), 0 0 1px rgba(0,0,0,.04);
    height: 520px;
    /* visibility: hidden; */
    z-index: -1;
}

#default-carousel {
    background: #ddd;
    border-radius: 12px;
}

.testimonial-content {
    padding: 40px;
}

.testimonial-content h1 {
    max-width: 560px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 44px;
}

.restaurant-info h4:nth-child(1) {
    margin-bottom: 2px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.restaurant-info h4:nth-child(2) {
    margin-top: 2px;
    font-weight: 300;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.testimonial-pic {
    max-width: 588px;
}

.slide-button  {
    width: .85em;
    height: .85em;
    transition: background-color .1s, color .1s;
}

[data-carousel-prev="true"] {
    padding-left: 28px;
}

.testimonial-card:nth-child(1) {
    transform: translateX(0);
}

.testimonial-card:nth-child(2) {
    transform: translateX(100%);
}

.testimonial-card:nth-child(3) {
    transform: translateX(200%);
}