@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Medium.eot');
  src: url('/fonts/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Recoleta-Medium.woff2') format('woff2'),
       url('/fonts/Recoleta-Medium.woff') format('woff'),
       url('/fonts/Recoleta-Medium.ttf') format('truetype'),
       url('/fonts/Recoleta-Medium.svg#Recoleta') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Medium.eot');
  src: url('/fonts/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Recoleta-Medium.woff2') format('woff2'),
       url('/fonts/Recoleta-Medium.woff') format('woff'),
       url('/fonts/Recoleta-Medium.ttf') format('truetype'),
       url('/fonts/Recoleta-Medium.svg#Recoleta') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Medium.eot');
  src: url('/fonts/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Recoleta-Medium.woff2') format('woff2'),
       url('/fonts/Recoleta-Medium.woff') format('woff'),
       url('/fonts/Recoleta-Medium.ttf') format('truetype'),
       url('/fonts/Recoleta-Medium.svg#Recoleta') format('svg');
  font-weight: 700;
  font-style: normal;
}

body {
  color: #000;
  background-color: #f0edea;
}

.regular {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  position: static;
}